<section id="vision" class="p-4 sm:pl-2 md:pl-5 bg-gray-900 flex items-center justify-center">
  <div class="w-full sm:mx-3 md:mx-4 lg:mx-20 my-10 bg-white overflow-hidden text-center">
    <div class="px-6 mt-15 mb-2">
      <h2 class="font-bold text-5xl pt-2 pb-2">
        Our vision
      </h2>
    </div>
    <div class="mx-20 pt-4">
      <p class="text-center text-xl">
        We envision a world where individuals and communities access essential healthcare services, disease prevention, and treatment, regardless of socioeconomic factors.
      </p>
    </div>
    <div class="px-2 pt-2 pb-1">
      <p class="font-bold text-xl mb-15">
        Promoting health equity and universal health coverage.
      </p>
    </div>
  </div>
</section>
