<section id="vision" class="p-4 sm:p-2 sm:pl-2 md:pl-5 flex items-center justify-center ">
  <div class="w-full sm:mx-3 md:mx-3 lg:mx-24 my-8 bg-white overflow-hidden text-center">
    <div class="px-6 mt-15 mb-2">
      <h2 class="font-bold text-5xl pt-14 pb-4 sm:justify-start sm:text-center sm:text-4xl">
        Our vision
      </h2>
    </div>
    <div class="mx-20 pt-4">
      <p class="text-center text-xl sm:text-lg">
        We envision a world where individuals and communities access essential healthcare services&#44; disease prevention&#44; and treatment&#44; regardless of socioeconomic factors.
      </p>
      <p class="text-center font-bold text-xl px-2 pt-2 pb-16 sm:text-lg">
        Promoting health equity and universal health coverage&#46;
      </p>
    </div>
    <!-- <div class="px-2 pt-2 pb-1">
      <p class="font-bold text-xl mb-15">
        Promoting health equity and universal health coverage.
      </p>
    </div> -->
  </div>
</section>
