<section id="vision" class="p-4 pl-10 pb-5 sm:pl-2 md:pl-5 bg-white flex flex-row lg:flex-row items-center justify-center">
  <div class="w-full mx-5 my-10 items-center justify-center bg-white overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <h1>
        <span style="color: rgb(255, 255, 255);">
          <span style="color: rgb(0, 0, 0);">Our vision</span>
        </span>
      </h1>
    </div>
    <div class="px-6 pt-4 pb-2">
      <p>
        We envision a world where individuals and communities access essential healthcare services, disease prevention, and treatment, regardless of socioeconomic factors.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <p>
        Promoting health equity and universal health coverage.
      </p>
    </div>
  </div>
</section>
