<section class="mx-auto px-4 py-8">
  <!-- Heading container -->
  <div class="my-10 text-center justify-center">
    <div>
      <h1 class="text-center">The Problem: what&rsquo;s wrong with the current condition&#63;</h1>
    </div>
    <div class="pb-8 pt-2">
      <h3 class="text-center font-medium">Add some clear key points that will explain the problem&#46;</h3>
    </div>
    
  </div>
  
  <!-- Cards container -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <!-- Card 1 -->
    <div *ngFor="let card of cards; trackBy: trackById" class="bg-white rounded-sm shadow overflow-hidden">
  <div class="relative h-60 overflow-hidden">
    <img [src]="card.imageUrl" [alt]="card.title" class="absolute inset-0 w-full h-full object-cover">
  </div>
  <div class="p-4">
    <h2 class="text-xl font-semibold mb-2">{{ card.title }}</h2>
    <p class="text-gray-700">{{ card.description }}&#46;</p>
  </div>
</div>
  </div>
  
</section>
