<section id="solution" class="pl-10 pb-5 sm:pl-2 md:pl-5 flex flex-col lg:flex-col items-center justify-between section-subtle-gray">
  <!-- Pair 1: Image left, content right -->

  <div class="flex flex-col md:flex-row mb-4">
    <!-- Content container -->
    <!-- <div class="md:w-2/5 order-last md:order-first px-24 sm:px-1 sm:py-5 flex items-center justify-center sm:items-start sm:justify-start"> -->
    <div class="md:px-24 md:w-2/5 md:order-first md:items-center md:justify-center flex py-10 order-last justify-start items-start">
      <div>
        <h2 class="text-4xl font-semibold mb-2">The solution</h2>
        <p>
          VMP offers targeted interventions, education, and community empowerment to improve health outcomes and reduce disparities&#46;
        </p>
      </div>
    </div>
    <!-- Image container -->
    <div class="h-full md:w-3/5">
      <div>
        <img src="/assets/images/woman_with_microphone.jpg" alt="Example image 1" class="w-full md:h-[34rem] sm:h-[20rem] object-cover">
      </div>
    </div>
  </div>  

  <!-- Pair 2: Content left, image right -->
  <div class="ht-2 flex flex-col md:flex-row mb-8">
    <!-- Content container -->
    <div class="md:px-24 md:w-2/5 md:order-first md:items-center md:justify-center flex py-10 order-last justify-start items-start">
      <div>
        <h2 class="text-4xl font-semibold mb-2 leading-[1.5]">
          <span class="highlight-text px-2">Market Potential:&nbsp;&#36;50B</span>
        </h2>
        <p>Description for the second pair. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <!-- Image container -->
    <div class="md:w-3/5">
      <img src="/assets/images/market_line_chart.png" alt="Example image 2" class="w-full h-auto object-cover">
    </div>
  </div>
</section>

