/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";
@use "tailwindcss" as *;


:root {

  --theme-color-1: #9A8F97;
  --theme-color-2: #E9E3E5;
  --theme-color-3: #2D2B2C;
  --theme-color-4: #9A8F97;

  --hyperlinks-text-color: #121212;
  --hyperlinks-text-hover-color: #121212;
  --hyperlinks-underline: ;
  --highlight-text-color: #FFFFFF;
  --highlight-background-color: #121212;
  --rkpi-font-size: 100%;
  --button-border-radius: 2px;
  --button-background-color: #121212;
  --button-background-hover-color: #EEEEEE;
  --button-text-color: #FFFFFF;
  --button-text-hover-color: #121212;
  --title-color: #121212;
  --title-font: 'Montserrat';
  --title-style: 700;
  --title-size: 40px;
  --title-mobile-size: 34px;
  --title-margin-bottom: 12px;
  --subtitle-color: #121212;
  --subtitle-font: 'Montserrat';
  --subtitle-style: 600;
  --subtitle-size: 32px;
  --subtitle-mobile-size: 24px;
  --subtitle-margin-bottom: 12px;
  --paragraph-color: #150C1D;
  --paragraph-font: 'Montserrat';
  --paragraph-style: 400;
  --paragraph-size: 18px;
  --paragraph-mobile-size: 16px;
  --paragraph-margin-bottom: 12px;
}
