<section id="home" style="height: calc(100vh - 4rem);" class="p-4 pl-10 pb-10 flex flex-col md:flex-row items-center justify-between  home-section">
  <!-- Desktop Logo for Larger Screens (visible only on md and up) -->
  <!-- Content Area -->
  <div class="w-full md:w-3/5 mb-6 md:mb-0 home-content" style="padding: 96px !important;">
    <!-- <a routerLink="/" class="block mb-6 items-center object-contain">
      <img src="/assets/icons/logo/vmp_trans_logo.png" alt="Landing illustration" class="w-40 h-40 object-contain rounded-[3px] shadow">
    </a> -->

    <div class="hidden md:flex md:items-center md:justify-start md:w-full mb-10">
      <a routerLink="/">
        <img src="/assets/icons/logo/vmp_trans_logo.png" alt="BrandName Logo" class="md:h-40 lg:h-60 w-auto mx-auto">
      </a>
    </div>
    <h2 class="text-4xl tracking-wider font-bold mb-8">VMP - Valde Magna Persona:</h2>
    <h2 class="text-3xl font-medium mb-6" style="font-size: 22px;">
      <span>
        <em>Reaching the ends of the earth.</em>
      </span>
    </h2>
    <h3 class="text-3xl tracking-wider font-medium">
      <span>Investment deck | Oct 2025</span>
    </h3>
  </div>
  <!-- Image -->
  <div class="w-full md:w-2/5 home-image flex items-center justify-end  h-full overflow-hidden">
    <img src="/assets/images/bending_child.jpg" alt="Landing illustration" class="max-h-full object-contain rounded-[3px] shadow">
  </div>
</section>
