// @tailwind base;
// @tailwind components;
// @tailwind utilities;

section {
  height: calc(100vh - 4rem);
  min-height: 27px;
}

h1 {
  text-align: left;
  // font: var(--paragraph-font);
}

p {
  font-size: var(--title-size);
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--title-style);
  line-height: var(--default-line-height);
  margin: 0;
  margin-bottom: var(--title-margin-bottom);
}

.h3-span {

  font-size: var(--subtitle-font);
  color: var(--title-color);
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

// .home-section {
//   min-height: 27px;
// }

.home-content {
  padding: 96px !important;
}

.home-content:last-child {
  margin-bottom: 0 !important;
}
.home-image {
  
}


/* Tablet breakpoints (e.g. between 768px and 1024px) */
@media (min-width: 320px) and (max-width: 1138px) {
  header nav ul {
    gap: 1rem; /* reduce spacing on tablets */
  }

  .home-content {
    padding: 50px !important;
  }

  section {
    min-height: auto;
    height: auto;
  }
}

